<div id="<%= dom_id photography %>">
  <p>
    <strong>Photo:</strong>
    <%= photography.photo %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= photography.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photography.user_id %>
  </p>

</div>
