<h1>Editing photography</h1>

<%= render "form", photography: @photography %>

<br>

<div>
  <%= link_to "Show this photography", @photography %> |
  <%= link_to "Back to photographies", photographies_path %>
</div>
